*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: blue; 
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
}
.conteiner {
    background-color:white ;
    width: 40%;
    height: 45vh;
    padding: 20px;
    border-radius: 5px;
    box-sizing: 0 0 10px black;
}
h1 {
    text-align: center;
    color: black;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    color: #1c1c1c;
    height: 30px;
}
button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}
button:hover {
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: blue;
    cursor: pointer;
}
p {
    text-align: center;
    color: blue;
}